<fieldset class="no-border-bottom js-edit-credit-card">
  <legend><%= payment_method.name %></legend>

  <% if previous_cards.any? %>
    <div class="field" data-hook="previous_cards">
      <% previous_cards.each do |card| %>
        <label>
          <%= radio_button_tag :card, card.id, card == previous_cards.first %>
          <%= card.display_number %>
          <% if card.card_type.present? %>
            (<%= card.card_type %>)
          <% end %>
          <br>
        </label>
      <% end %>
    </div>
  <% else %>
    <p><%= t("solidus_spreedly.admin.no_saved_payment_methods") %></p>
  <% end %>
</fieldset>
